<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table form</title>
</head>
<body>
    <form action="">
        <table width="50%" border="1">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="" id="">
                </td>
            </tr>
            <tr>
                <td>sex</td>
                <td>
                    <input type="radio" name="" id="">Male <br>
                    <input type="radio" name="" id="">Female
                </td>
            </tr>
            <tr>
                <td>Eyes color</td>
                <td>
                    <select name="" id="">
                        <option value="1"> green</option>
                        <option value="2">Red</option>
                        <option value="3">Blue</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Check all that apply</td>
                <td>
                    <input type="Checkbox" name="" id="">over 6 feet tall <br>
                    <input type="Checkbox" name="" id="">over 200 pouns
                </td>
            </tr>
            <tr>
                <td colspan="2">Describe your........</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Enter your information">

                </td>
            </tr>
        </table>
    </form>
</body>
</html>